<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldenhome.user.dao.UserMapper">



    <insert id="addMember"  parameterType="com.goldenhome.user.pojo.User">
    insert into t_user
    (username,password,phone,status)
    values
    (#{username},#{password},#{phone},1)
    </insert>

    <update id="update" >
    update  t_user
    set
    loginTime = #{loginTime},
    status = 1
    where
    id = #{id}
    </update>

    <select id="selectByUsername"  resultType="com.goldenhome.user.pojo.User">
    SELECT  id,username,password,phone,loginTime,status,lastLoginTime
    FROM  t_user,
    t_accesscode
    where
    username = #{username}
    and
    password = #{password}
    and
    accessCode = #{accessCode}
    and
    codeStatus = 1
    </select>

    <update id="logout" >
    update  t_user
    set
    status = 0,
    lastLoginTime = #{lastLoginTime}
    where
    id = #{id}
    </update>

    <update id="changeCodeStatus" >
    update  t_accesscode
    set
    codeStatus = 0
    where
    userid = #{id}
    </update>


    <insert id="insertAccessCode"  >
    insert into t_accesscode (accessCode,codeStatus,userId)
    values (#{accessCode},1,#{id})
    </insert>

    <select id="count"  parameterType="String" resultType="String">
    select
    count(id) AS count
    FROM t_user
    WHERE
    SUBSTRING(lastLoginTime,1,10) = #{localTime}
    </select>

    <select id="verify"  resultType="com.goldenhome.user.pojo.User">
    SELECT  id,username,password,phone,loginTime,status,lastLoginTime
    FROM  t_user
    where
    username = #{username}
    </select>

    <insert id="insertStatistic"  parameterType="String">
    insert into t_statistics (date,viewers)
    values (#{localTime},#{count})
    </insert>

    <select id="check"  parameterType="String" resultType="String">
    SELECT   viewers
    FROM  t_statistics
    where
    date = #{localTime}
    </select>

</mapper>

