<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldenhome.user.dao.UserMapper">


    <insert id="addMember" parameterType="com.goldenhome.user.pojo.User">
    insert into t_user
    (username,password,phone,status)
    values
    (#{username},#{password},#{phone},0)
    </insert>

    <insert id="reserveInsert">
    insert into t_reservation
    (reservationLoginTime,reservationExpireTime,phone,actualVisitStatus)
    values
    (#{reservationLoginTime},#{reservationExpireTime},#{phone},2)
    </insert>

    <update id="update">
    update  t_user
    set
    loginTime = #{loginTime},
    status = 1
    where
    phone = #{phone}
    </update>

    <select id="selectByPhone" resultType="com.goldenhome.user.pojo.User">
    SELECT  id,username,password,phone,loginTime,status,lastLoginTime
    FROM  t_user,
    t_accesscode
    where
    phone = #{phone}
    and
    accessCode = #{accessCode}
    and
    codeStatus = 1
    and
    expireTime >= #{localTime}
    </select>

    <update id="logout">
    update  t_user
    set
    status = 0,
    lastLoginTime = #{lastLoginTime}
    where
    id = #{id}
    </update>

    <update id="changeCodeStatus">
    update  t_accesscode
    set
    codeStatus = 0
    where
    userId = #{id}
    </update>


    <insert id="insertAccessCode">
    insert into t_accesscode (accessCode,codeStatus,expireTime,userId)
    values (#{accessCode},1,#{reservationExpireTime},#{id})
    </insert>

    <select id="countByDaytime" parameterType="java.lang.String" resultType="java.util.HashMap">
    SELECT standUpVisitorTotal,actualVisitorTotal,reservationVisitorTotal
	FROM

	(
    SELECT
	count(a)  AS standUpVisitorTotal
	FROM
    (select
     count(reservationId) AS a
     FROM t_reservation
        <include refid="statistic" />
        and
	 actualVisitStatus = 0
	 GROUP BY phone)  b
	 )  standUpVisitorTotalTable ,


	(
	SELECT
	count(c)  AS actualVisitorTotal
	FROM
    (select
     count(reservationId) AS c
     FROM t_reservation
        <include refid="statistic" />
        and
	 actualVisitStatus = 1
	 GROUP BY phone)  d
	 ) actualVisitorTotalTable ,


	(
	SELECT
	count(e)  AS reservationVisitorTotal
	FROM
    (select
     count(reservationId) AS e
     FROM t_reservation
        <include refid="statistic" />
        GROUP BY phone)  f
	 ) reservationVisitorTotalTable
    </select>

    <sql id="statistic">
        <where>
            <choose>
                <when test="daytime !=null and endQueryTime !=null">
                    reservationLoginTime between #{daytime} and #{endQueryTime}
                </when >
                <when test="daytime !=null">
                    AND   SUBSTRING(reservationLoginTime,1,10) = #{daytime}
                </when >
                <when test="monthTime !=null ">
                    AND SUBSTRING(reservationLoginTime,1,7) = #{monthTime}
                </when >
                <when test="yearTime !=null">
                    AND SUBSTRING(reservationLoginTime,1,4) = #{yearTime}
                </when >
            </choose>
        </where>
    </sql>




    <select id="verify" resultType="com.goldenhome.user.pojo.User">
    SELECT  id,username,password,phone,loginTime,status,lastLoginTime
    FROM  t_user
    where
    phone = #{phone}
    </select>

    <select id="avoid" resultType="String">
    SELECT   accessCode
    FROM  t_accesscode
    where
    accessCode = #{accessCode}
    and
    codeStatus = 0
    and
    userId = #{id}
    </select>

    <select id="avoidFirst" resultType="String">
    SELECT   accessCode
    FROM  t_accesscode
    where
    userId = #{id}
    </select>

    <update id="updateReservation">
    update  t_reservation
    set
    actualVisitTime = now(),
    actualVisitStatus = 1
    where
    TIMESTAMPDIFF(MINUTE,NOW(),reservationLoginTime) >= -60
    and
    phone = #{phone}
    and
    actualVisitStatus = 2
    </update>

    <update id="updateUserActualVisitStatus">
    update  t_reservation
    set
    actualVisitStatus = 0
    where
    TIMESTAMPDIFF(HOUR,reservationLoginTime,#{localTime})  >= 1
    and
    actualVisitStatus = 2
    </update>


    <select id="queryAccessCode" resultType="com.goldenhome.user.pojo.AccessCode">
    SELECT  accessCode,codeStatus,expireTime,userId
    FROM  t_accesscode
    where
    userId = #{id}
    and
    codeStatus = 1
    </select>

    <select id="queryStatistics"  resultType="java.util.HashMap">
    SELECT standUpSomebodyTotal,actualSomebodyTotal,reservationSomebodyTotal
	FROM
    (SELECT
     count(actualVisitStatus) as standUpSomebodyTotal
     FROM t_reservation
        <include refid="statistic" />
     and
     phone = #{phone}
     and
     actualVisitStatus = 0
    )  standUpSomebodyTotalTable ,

    (SELECT
     count(actualVisitStatus) as actualSomebodyTotal
     FROM t_reservation
        <include refid="statistic" />
     and
     phone = #{phone}
     and
     actualVisitStatus = 1
    )  actualSomebodyTotalTable ,


    (SELECT
     count(actualVisitStatus) as reservationSomebodyTotal
     FROM t_reservation
        <include refid="statistic" />
     and
     phone = #{phone}
    )  reservationSomebodyTotal
    </select>



</mapper>

